@import "~bootstrap/dist/css/bootstrap.css";
// define custom colors in the colors file
// @import "./colors.scss";

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

#app {
  height: 100%;
  width: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.minesweeper-clickable {
  cursor: pointer;
}

.f-grow {
  flex-grow: 1;
}

.minesweeper-transparent {
  opacity: 0;
}
